// @import "../../import/imports.scss";

.contLinks {
  display: flex;

  flex-flow: column;
  justify-content: center;
  gap: 2rem;
  margin: 1rem 0 0;
  .contProfile {
    background-color: #000;
    display: flex;
    align-items: center;

    width: 90%;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 1rem;

    div {
      width: 100%;
      p {
        padding: 0 0 0.3rem 0;
        color: $color-4;
      }
      a {
        display: block;
        background-color: $color-4;
        color: #000;

        text-align: center;

        font-weight: 600;
        width: 100%;
        border-radius: 0.3rem;
        padding: 0.2rem;
        transition: 0.3s;

        &:hover {
          background-color: $color-2;
        }
      }
    }
  }

  .linkedin {
    background-color: #0a63bc;
  }
  .instagram {
    background: #f09433;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  }
}

@media (max-width: 768px) {
  .contLinks {
    width: 100%;
    .contProfile {
      width: 100%;
    }
  }
}
